.top-header {
  position: fixed;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 75rem;
}

.menu-horizontal li {
  display: block;
  padding: 0.938rem 1.25rem;
  color: black;
}

.menu-horizontal a {
  text-decoration: none;
}

.menu-horizontal li:hover {
  color: red;
}

.menu-vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 12.5rem;
  background-color: white;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-horizontal li:hover {
  color: rgb(190, 170, 150);
}

.menu-vertical li {
  display: block;
  color: rgb(62, 15, 150);
  padding: 0.938rem 0.938rem 0.938rem 1.25rem;
}

.seccion-inicio {
  padding: 4.375rem 1.25rem;
  background-color: white;
}

.cont-general-inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}

.cont-inicio-text {
  flex: 1;
}

.cont-inicio-text h2 {
  color: red;
  margin-bottom: 0.938rem;
}

.cont-inicio-text p {
  color: black;
  line-height: 1.5;
}

.cont-inicio-imagen {
  flex: 1;
  text-align: center;
}

.cont-inicio-imagen img {
  width: 21.875rem;
  height: 21.875rem;
  border-radius: 0.625rem;
  padding: 3.125rem 0.625rem;
}

/* Seccion contacto */
.seccion-contacto {
  padding: 4.375rem 1.25rem;
  background-color: white;
}

.cont-general-contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}

.cont-contacto-text {
  flex: 1;
}

.cont-contacto-text h2 {
  color: blue;
  margin-bottom: 0.938rem;
}

.cont-contacto-text p {
  color: black;
  line-height: 1.5;
}

.cont-inicio-video {
  flex: 1;
  text-align: center;
}

.cont-inicio-video iframe {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 0.625rem;
}

/* Seccion formulario */
.seccion-formulario {
  background-color: rgb(171, 229, 241);
  padding: 2.5rem;
  border: 0.188rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.div-cont-formulario {
  background-color: white;
  padding: 1.875rem;
  border: 0.125rem solid #000000;
  border-radius: 0.625rem;
  width: 100%;
  max-width: 31.25rem;
}

.campo {
  padding: 1.25rem;
  margin-bottom: 0.938rem;
  border-radius: 0.5rem;
  background-color: aquamarine;
}

.formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: blue;
}

input[type="text"],
select {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0.625rem;
  margin: 0;
  border: 0.063rem;
  background-color: cadetblue;
  border-radius: 0.5rem;
}

.lista-checkbox li,
.lista-radio li {
  margin-bottom: 0.5rem;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.313rem;
  cursor: pointer;
}
